@import 'tailwindcss';
@plugin "@tailwindcss/typography";

/* Colors */

@theme {
    --color-primario: #759C62;
    --color-primario-oscuro: #68884E;
}

/*Estilos para layouts*/

@utility base {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

@utility limit {
    max-width:1200px;
    width: 100%;
    padding:1rem;
}

@utility center {
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Componentes */
@utility btn-primario {
    text-decoration:none;
    @apply px-3 py-2;
    @apply bg-primario;
    @apply rounded-sm;
    @apply border-primario border-solid border-2;

    @variant hover{
        @apply bg-primario-oscuro;
        @apply border-primario-oscuro border-solid border-2;
    }
}

@utility btn-secundario {
    text-decoration:none;
    @apply px-3 py-2;
    @apply bg-white;
    @apply rounded-sm;
    @apply border-black border-solid border-2;

    @variant hover{
        @apply bg-gray-50;
        @apply border-black border-solid border-2;
    }
}

/* Custom media breakpoints */

@custom-variant 2xl (@media (max-width: 1535px));
@custom-variant xl  (@media (max-width: 1279px));
@custom-variant lg  (@media (max-width: 1023px));
@custom-variant md  (@media (max-width: 767px));
@custom-variant sm  (@media (max-width: 639px));
@custom-variant na  (@media (max-width: 453px));

/* View Timeline Animation */

@keyframes fade-in-view {
    from {
        opacity: 0;
        transform: translateY(20px);
        transform: scale(80%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        transform: scale(100%);
    }
}

@utility fade-in-viewport {
    animation: fade-in-view linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
