.grid {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;

    & > div {
        width: 100%;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        & > img {
            width: 100%;
            height: auto;
        }
    }
}
