---
import Base from '../layouts/base.astro';
import Hero from '../components/Hero.astro';
import Band from '../components/Band.astro';
import About from '../components/About.astro';
import Grid from '../components/Grid.astro';
---

<Base>
	<main class='base flex flex-col items-center justify-center'>
		<Hero />
		<Band />
		<About />
		<Grid />
	</main>
</Base>
