---
import Base from '../layouts/base.astro';
import Hero from '../components/Hero.astro';
import Band from '../components/Band.astro';
import About from '../components/About.astro';
import Grid from '../components/Grid.astro';
import Footer from '../components/Footer.astro';
---

<Base>
	<div class='relative min-h-screen w-full'>
		{/* Dashed Grid */}
		<div
			class='base absolute inset-0 z-0'
			style={{
				backgroundImage: `
        linear-gradient(to right, #e7e5e4 1px, transparent 1px),
        linear-gradient(to bottom, #e7e5e4 1px, transparent 1px)
      `,
				backgroundSize: '20px 20px',
				backgroundPosition: '0 0, 0 0',
				maskImage: `
        repeating-linear-gradient(
          to right,
          black 0px,
          black 3px,
          transparent 3px,
          transparent 8px
        ),
        repeating-linear-gradient(
          to bottom,
          black 0px,
          black 3px,
          transparent 3px,
          transparent 8px
        )
      `,
				WebkitMaskImage: `
        repeating-linear-gradient(
          to right,
          black 0px,
          black 3px,
          transparent 3px,
          transparent 8px
        ),
        repeating-linear-gradient(
          to bottom,
          black 0px,
          black 3px,
          transparent 3px,
          transparent 8px
        )
      `,
				maskComposite: 'intersect',
				WebkitMaskComposite: 'source-in',
			}}>
		</div>
		<main class='relative flex w-full flex-col items-center justify-center'>
			<Hero />
			<Band />
			<About />
			<Grid />
			<Footer />
		</main>
	</div>
</Base>
