<section
	class='fade-in-viewport limit prose flex items-center justify-center gap-8'>
	<div class='w-full basis-[70%]'>
		<h2>Materia Prima para Repostería y Panaderías</h2>
		<p class='prose-stone'>
			Gracias a nuestra <b>amplia variedad de ingredientes y sabores</b
			> elaborados con fruta de alta calidad; así como, al <b
				>gran número de presentaciones</b
			> que van desde mangas de 500 g a 1 kg o cubetas de 5 hasta 24 kg, hemos
			mantenido la preferencia de nuestros clientes.
		</p>
		<a href='#'>Contactanos</a>
	</div>
	<figure class='w-full basis-[30%]'>
		<img
			class='h-auto w-full'
			src='/zarzamora.png'
			alt='mermelada de zarzamora'
		/>
	</figure>
</section>
