<section
	class='fade-in-viewport limit prose sm:center flex items-center justify-center gap-8 sm:flex-col'>
	<div class='sm:center w-full basis-[70%] sm:basis-full sm:flex-col'>
		<h2 class='text-principal sm:self-start'>
			Materia Prima para Repostería y Panaderías
		</h2>
		<p class='prose-stone'>
			Gracias a nuestra <b>amplia variedad de ingredientes y sabores</b
			> elaborados con fruta de alta calidad; así como, al <b
				>gran número de presentaciones</b
			> que van desde mangas de 500 g a 1 kg o cubetas de 5 hasta 24 kg, hemos
			mantenido la preferencia de nuestros clientes.
		</p>
		<a href='#' class='btn-primario text-secondary'>Contactanos</a>
	</div>
	<figure class='sm:center w-full basis-[30%] sm:basis-full'>
		<img
			class='h-auto w-full sm:max-w-[200px]'
			src='/zarzamora.png'
			alt='mermelada de zarzamora'
		/>
	</figure>
</section>
