<section class='limit fade-in-viewport'>
	<figure class='w-full'>
		<img
			class='h-auto w-full'
			src='/mermelada-manzana-banner.png'
			alt='Mermelada de manzana Payo - Ingredientes naturales de alta calidad'
			loading='lazy'
		/>
	</figure>
</section>
