---
import style from '../styles/grid.module.scss';
---

<section
	class=`${style.grid} limit gap-6 lg:gap-4 md:gap-2 [&_img]:rounded-xl [&_img]:shadow`>
	<div class='gap-6 md:gap-2 lg:gap-4'>
		<img src='/public/bote-01.png' alt='Bote' />
		<img src='/public/producto-01.png' alt='' />
		<img src='/public/rellenos-01.png' alt='' />
	</div>
	<div class='gap-6 pt-10 md:gap-2 lg:gap-4'>
		<img src='/public/bote-02.png' alt='Bote' />
		<img src='/public/producto-02.png' alt='' />
		<img src='/public/rellenos-02.png' alt='' />
	</div>
	<div class='gap-6 md:gap-2 lg:gap-4'>
		<img src='/public/bote-03.png' alt='Bote' />
		<img src='/public/producto-03.png' alt='' />
		<img src='/public/rellenos-03.png' alt='' />
	</div>
</section>
