<header
	class='limit prose fade-in-viewport flex items-center justify-center *:basis-full lg:flex-col'>
	<div class='flex flex-col items-start justify-center lg:items-center'>
		<h1 class='text-6xl lg:text-center'>
			Materia Prima para Repostería y Panaderías
		</h1>
		<p class='prose-stone lg:text-center'>
			<b>Somos los aliados perfectos para los expertos en la cocina</b>, así
			como de los restaurantes y banquetes que desean brindarles el mejor sabor
			y calidad a sus platillos para conquistar el gusto de sus consumidores.
		</p>
		<div class='flex items-center justify-start gap-4 lg:justify-center'>
			<a href=''>Contactanos</a>
			<a href=''>Ver productos</a>
		</div>
	</div>
	<figure class='flex items-center justify-center'>
		<img class='h-auto w-full' src='/public/cajeta.png' alt='cajeta' />
	</figure>
</header>
