---
import '../styles/global.css';
---

<!doctype html>
<html lang='es'>
	<head>
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'
			rel='stylesheet'
		/>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Payo</title>
		<style>
			* {
				font-family: 'Montserrat', sans-serif;
				scroll-behavior: smooth;
			}
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>
